body{
  font-family: 'Roboto', 'Helvetica-neue', 'open-sans';
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#overlay{
  background-color: rgba(0,0,0, 0.8);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.start button{
  margin-top: 1.25em;
}
/* 
.lose-round{
  margin-top: 1.25em;
} */

.overlay-prompt{
  width: 25%;
  background-color: black;
  color: white;
  width: 25%;
  background-color: #b7b8bf;
  margin: 0 auto;
  height: 25%;
  color:  white;
  text-align: center;
  padding-top: 2em;
  margin-top: 5em;
  border-radius: 2px;
  box-shadow: 4px 2px 10px 7px #5d5b5b
}

.overlay-prompt h2{
  margin: 0;
  padding: 0;
}

.lose-round{
  display: none;
}

.round-time{
  font-size: 3em;
  text-align: center;
}

.hide{
  display: none;
  padding: 20px;
}

.game-over{
  display : none;
}

.you-win{
  display: none;
}

.overlay-prompt button{
  border: 2px solid white;
  color: white;
}

.lose-round button{
  margin-top: 25px;
}

button{
  margin: 0 15px;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: transparent;
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: width 0.4s;
    outline: none;
}

.btns button:hover{
  width: 120px;
}

.countdown{
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.countdown .timer{
  font-size: 10em;
}

input{
  display: none;
}

.copy{
  text-align: center;
}

.header-1{
  font-size: 7em;
}

.header-3{
  font-size: 3em;
}

.para{
  font-size: 2em;
}


.btns{
  display: none;
}