body{
  font-family: 'Roboto', 'Helvetica-neue', 'open-sans';
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#overlay{
  background-color: rgba(0,0,0, 0.8);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-prompt{
  width: 25%;
  background-color: black;
  color: white;
    /* position: relative; */
  /* height: 100vh; */
  /* top: 50%; */
  width: 25%;
  background-color: #ccc;
  /* left:  50%; */
  margin: 0 auto;
  height: 35%;
  color:  white;
}

.lose-round{
  display: none;
}

.game-over{
  display : none;
}

.countdown{
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.countdown .timer{
  font-size: 10em;
}

input{
  display: none;
}

.copy{
  text-align: center;
}

.header-1{
  font-size: 7em;
}

.header-3{
  font-size: 3em;
}

.para{
  font-size: 2em;
}


.btns{
  display: none;
}